<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>NYC Parks and Rec Finder</title>
    <link rel="stylesheet" href="/public/css/styles.css">
  </head>

  <body>
    <header>
      <h1>NYC Parks and Rec Finder</h1>
    </header>

    <main>
      {{> nav}}
      {{{body}}}
    </main>

    <script src="/public/js/form_validate.js"></script>
  </body>
</html>
