<nav>
    <a href="/">Home</a>
    {{#if usere}}
        <a href="/profile">Profile</a>
    {{else}}
        <a href="/login">Log In</a>
    {{/if}}
</nav> 

<a href="/parks">View Parks Nearby</a>
<a href="/rec_centers">View Recreation Centers Nearby</a>
