<form name="signin-form"id="signin-form" method="POST" action="/login">
    <label for="userId">User ID</label>
    <input type="text" name="userId" id="userId">

    <label for="password">Password</label>
    <input type="password" name="password" id="password" >

    <button type="submit" name="submit_button" id="submit_button">Submit</button>
</form>

<p id="error" hidden></p>
{{#if errors}}
    <div>
        <h2>Error!</h2>
        <ul>
            {{#each errors}}
                <li>{{this}}</li>
            {{/each}}
        </ul>
    </div>
{{/if}}
<a href="/register">Click here to signup!</a>
<script src="/public/js/form_validate.js"></script>
